<form method="POST" action="/api/user/login">
  <label for="email">email:</label>
  <input type="email" name="email" required />
  <label for="password">password:</label>
  <input type="password" name="password" required />
  <button type="submit">Login</button>
</form>

<div>
  <a href="/api/user/github"><button>Entrar con GitHub</button></a>
</div>
